<h2><%= @page.title %></h2>

<%- if Shakespeare::Settings.format_method -%>
  <%= send(Shakespeare::Settings.format_method, @page.content).html_safe! %>
<%- else -%>
  <%= @page.content.html_safe! %>
<%- end -%>